section.agenda{
     border-top:1px solid #eaeaea;
     padding-top:25px;
}
section.agenda,
section.agenda-full {
    padding-top:50px;
   // margin-bottom:50px;
    font-size:.75rem; 
    text-align: left;
   
    //background: rgba(234, 234, 234, .3);
    color:#000;
    h3,h3 a {
        font: 900 14px/16px 'Roboto', sans-serif;
        color:#9a0000!important;
        margin:0 0 50px 0;
    }
    .agenda-card{
        margin:15px 0;
        //border:5px solid #fe5c56;
        background: rgba(234, 234, 234, 0.3);
        min-height:215px;
    }
    .title {
        font-size:1rem; 
        margin-bottom:10px;
    
    }
    .conductor span {
        font-style: italic;
    }
    .date {
       
    }
    
}
.agenda-list {
    
    font-size:.8rem; 
    .title {
        padding-top:15px;
        font: 900 14px/16px 'Montserrat', sans-serif;
    }
    .time,.momth {
        color: #fe5c56;
    }
    .date { 
        padding:10px 0 5px 0; 
        text-align:center;
        background:rgb(197, 197, 197);
        outline:1px solid #fff;
         color: #9a0000;
        .day {
            font: 900 38px/40px 'Montserrat', sans-serif;
            line-height: 2rem;
            color:#FFF;
        }
        .year {
            color:#FFF;
        }
    }
   .agenda-info{
       border-bottom:1px solid #000;
   }
   // margin-bottom:15px;
    
}