section.photo-gallery{
    margin-top:375px;
   
    .alice-carousel li.alice-carousel__stage-item {
        height:600px;
    }
    .alice-carousel__prev-btn {
        text-align: center!important;
    }
}