.navbar {
    background-color: #FFF !important;
    color:#000!important;
    
    a {
        text-transform: capitalize;
        white-space: nowrap;
        color:#000!important;
    }
    .navbar-brand {
        font-size:2rem;
        color:#000;
    }
    .navbar-nav {
        padding-top:10px;
        color:#000;
    }
}
.navigation {
    height:322px;
    overflow: hidden;
}
header.home {
    background-image: url(/images/header-home.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-repeat: no-repeat;
}
header.events {
    background-image: url(/images/header-events.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
header.music {
    background-image: url(/images/header-music.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
header.rentalcatalogue {
    background-image: url(/images/header-rentalcatalogue.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
header.order {
    background-image: url(/images/header-order.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
header.biography {
    background-image: url(/images/header-biography2.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
header.agenda {
    background-image: url(/images/header-agenda.jpg);
    background-repeat: no-repeat;
    background-position: right;
}


.navigation ul {
    display:table;
    margin: 15px auto 15px;
    li {
        display: inline;
        margin-right:25px;
        text-transform: uppercase;
     a {
         color:#FFF;
     }
    }
}

    .headline {
        text-align:left;
        margin:100px 0 100px;
        color:#000;
        font: 900 18px/20px 'Montserrat', sans-serif;
   
        span {
            font: 900 46px/48px 'Montserrat', sans-serif; 
            margin-bottom:15px;
            display: block;
        }
    }
    .nav-row {
        background-color: #a90000;
    }
    header {
        ul {
            display:table;
            margin: 15px auto 15px;
            li {
                display: inline;
                margin-right:25px;
                text-transform: uppercase;
             a {
                 color:#FFF;
             }
             a:hover {
                 color:#000;
                 text-decoration: none;
             }
            }
            
        }
    }
    header.home {
        li.home{
            a {
                color:#000;
                font-weight:bold;
            }
            
        }
    }
    header.events {
        li.events{
            a {
                color:#000;
                font-weight:bold;
            }
            
        }
    }
    header.agenda {
        li.agenda{
            a {
                color:#000;
                font-weight:bold;
            }
            
        }
    }
    header.music {
        li.music{
            a {
                color:#000;
                font-weight:bold;
            }
            
        }
    }

    header.rentalcatalogue {
        li.rental{
            a {
                color:#000;
                font-weight:bold;
            }
            
        }
    }
    header.order {
        li.order{
            a {
                color:#000;
                font-weight:bold;
            }
            
        }
    }