.navbar {
    background-color: #FFF !important;
    color:#000!important;
    a {
        text-transform: capitalize;
        white-space: nowrap;
        color:#000!important;
    }
    .navbar-brand {
        font-size:2rem;
        color:#000;
    }
    .navbar-nav {
        padding-top:10px;
        color:#000;
    }
}
.navigation ul {
    display:table;
    margin: 0 auto;
    li {
        display: inline;
        margin-right:25px;
        text-transform: uppercase;
    
    }
    margin-bottom:25px;
}

    .headline {
        text-align:center;
        margin:65px 0 5px;
        color:#000;
        text-transform: capitalize;
        font: 900 18px/20px 'Montserrat', sans-serif;
   
        span {
            font: 900 46px/48px 'Montserrat', sans-serif; 
            margin-bottom:15px;
            display: block;
        }
    }
