section.about {
    padding:100px 0;
    background:#FFF;
    h3 {
        font-size: 2rem !important;
        color: #000 !important;
    }
    .bio-photo{
        background:#d1d1d1;
        min-height:300px;
    }
}