section.about,
section.about-full {
    padding:100px 0;
    background:#FFF;
    h3 {
        font-size: 2rem !important;
        color: #9a0000 !important;
    }
    button {
        margin:35px 0 50px;
    }
}
section.about-full {
    h5 {
        font-size:.9rem;
        text-transform: uppercase;
        margin-top:25px;
        color:#000;
    }
    ul li {
        display:inline;
        margin-right:10px;
    }
}