section.agenda {
    padding-top:25px;
    padding-bottom:25px;
    font-size:.75rem; 
    text-align: left;
    background: rgba(234, 234, 234, .3);
    color:#000;
    h3,h3 a {
        color:#fe5c56!important;
        margin:50px 0;
    }
    .agenda-card{
        margin:15px 0;
        //border:5px solid #fe5c56;
        background: rgba(234, 234, 234, 0.7);
    }
    .title {
        font-size:1rem; 
        margin-bottom:10px;
        color:#fe5c56;
    }
    .conductor span {
        font-style: italic;
    }
    .date {
       
    }
    
}