html,body {
    height: 100%;
} 
body {
    background: #fff;
    font-family: "Work Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6f7495;
    text-align: left;
    height: 100%;
}
a,
a:hover,
.card-link {
    color:#9a0000;
}
.card-image img:hover,
.card-link:hover {
    cursor: pointer;
}
ul {
    list-style:none; 
    margin:0;
    padding:0;
}

.h2, h2 {
    font-size: 2rem;
}
.form-control{
    border-radius: 0;
}
#home,
#sign-in {
    height: 100%;
}

#sign-in,
#sign-up{
   margin-top:50px;
   margin-bottom:50px;
    min-height: 100%;
}
#images,#product{
    margin-bottom:50px;
    background:#FFF;
    padding:25px 35px;
    border: .1rem solid #ececec;
}

table {
    th {
        font-size:.9rem;
    }
    .btn {
        padding:.175rem .475em;
        font-size:.8rem;
        text-transform: capitalize;
    }
    td {
        font-size: .8rem;
    }
    .post-title{
        width:33%;
    }
}
#post-image{
    display:none;
}
.action-button,.caption{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-image {
    img {
         width:100px;
    }
}  

.navbar-dark .navbar-nav .nav-link {
    text-transform: capitalize;
    white-space: nowrap;
    color:#000!important;
}


.jdm-button {
    background-color: #9a0000;
    border-color: #9a0000;
}
.article {
   h1 {
    color: #9a0000 !important;
   }
}
 
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'navbar';
@import 'dashboard';   
@import 'agenda';
@import 'about';
@import 'news';
@import 'events'; 
@import 'footer';
@import 'article'